build
curl-wolfssl
wolfssl
*.so
*.o
libenclave-tls/sgx/trusted/ra_tls_options.c
libenclave-tls/sgx/trusted/ra_tls_t.c
libenclave-tls/sgx/trusted/ra_tls_t.h
libenclave-tls/sgx/untrusted/ra_tls_u.c
libenclave-tls/sgx/untrusted/ra_tls_u.h
stub-enclave/Wolfssl_Enclave_t.c
stub-enclave/Wolfssl_Enclave_t.h
pal/Wolfssl_Enclave_u.c
pal/Wolfssl_Enclave_u.h
